<div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Certified Scrum Master</h5>
          <p class="card-category">12 Hours</p>
        </div>
        <div class="card-body ">
            <img src="/assets/img/cert_scrum_master.png" style="height:170px;width:200px">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Course by Timeline
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Advance Certified Scrum Master</h5>
          <p class="card-category">12 Hours</p>
        </div>
        <div class="card-body ">
            <img src="/assets/img/a-scm.png" style="height:170px;width:200px">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Course by Timeline
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Certified Professional Scrum Master</h5>
          <p class="card-category">12 Hours</p>
        </div>
        <div class="card-body ">
            <img src="/assets/img/csp-sm.png" style="height:170px;width:200px">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Course by Timeline
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Certified Scrum Product Owner</h5>
            <p class="card-category">12 Hours</p>
          </div>
          <div class="card-body ">
              <img src="/assets/img/cert_scrum_product_owner.png" style="height:170px;width:200px">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar"></i> Course by Timeline
            </div>
          </div>
        </div>
      </div>
  </div>