<router-outlet></router-outlet>
<div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Agile For Beginners</h5>
          <p class="card-category">12 Hours</p>
        </div>
        <div class="card-body ">
            <img src="/assets/img/agile_for_beginner.jpg">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats" >
            <a routerLink="/qa" routerLinkActive="active">
              <i class="fa fa-list-alt"></i> Take a mock Test
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Associate Scrum Master</h5>
            <p class="card-category">12 Hours</p>
          </div>
          <div class="card-body ">
              <img src="../assets/img/associate_scrum_master.jpg">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats" >
              <a routerLink="/qa" routerLinkActive="active">
                <i class="fa fa-list-alt"></i> Take a mock Test
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Expert Scrum Master</h5>
            <p class="card-category">12 Hours</p>
          </div>
          <div class="card-body ">
              <img src="/assets/img/expert_scrum_master.jpg" style="height:170px;width:200px">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats" >
              <a routerLink="/qa" routerLinkActive="active">
                <i class="fa fa-list-alt"></i> Take a mock Test
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Agile For Beginners</h5>
          <p class="card-category">12 Hours</p>
        </div>
        <div class="card-body ">
            <img src="/assets/img/agile_for_beginner.jpg">
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats" >
            <a routerLink="/qa" routerLinkActive="active">
              <i class="fa fa-list-alt"></i> Take a mock Test
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Associate Scrum Master</h5>
            <p class="card-category">12 Hours</p>
          </div>
          <div class="card-body ">
              <img src="/assets/img/agile_for_beginner.jpg">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats" >
              <a routerLink="/qa" routerLinkActive="active">
                <i class="fa fa-list-alt"></i> Take a mock Test
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Expert Scrum Master</h5>
            <p class="card-category">12 Hours</p>
          </div>
          <div class="card-body ">
              <img src="/assets/img/agile_for_beginner.jpg">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats" >
              <a routerLink="/qa" routerLinkActive="active">
                <i class="fa fa-list-alt"></i> Take a mock Test
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>